html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
}

.container {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -40%);
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: auto;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
	display: block;
	overflow-x: auto;
    white-space: nowrap;
}

table thead { display:block; width: 100%;}
table tbody { height:500px; overflow-y:scroll; display:block; }

th,
td {
	/* padding: 25px; */
	padding-right: 15px;
	padding-top : 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
	text-align: center;
	width: 200;
}

th {
	text-align: center;
	width: 190;
}


td.normal {background-color: orange; }
td.under { background-color: red; }
td.over { background-color: green; }


/* .under { background-color: red; }
.normal {background-color: yellow; }
.over { background-color: green; } */


/* thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
} */