<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    </head>

<body>
<div class=container>
	<table>
		<thead>
			<tr>
				<th>Date Prediction</th>
				<th>Sell</th>
				<th>Buy</th>
				<th>Hold</th>
			</tr>
		</thead>
		<tbody>
			{% for row in data %}
			<tr>
				<td>{{ row[0] }}</td>
				{% if row[1] == row[-1] %}
					<td class="under">{{ row[1] }}</td>
				{% else %}
					<td>{{ row[1] }}</td>
				{% endif %}
				{% if row[2] == row[-1] %}
					<td class="over">{{ row[2] }}</td>
				{% else %}
					<td>{{ row[2] }}</td>
				{% endif %}
				{% if row[3] == row[-1] %}
					<td class="normal">{{ row[3] }}</td>
				{% else %}
					<td>{{ row[3] }}</td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
</body>
